{%- set external_urls = {
  'github': 'https://github.com/Rob-Fletcher/arcgis.slurm',
  'github_issues': 'https://github.com/Rob-Fletcher/arcgis.slurm/issues',
  'contributing': 'https://github.com/Rob-Fletcher/arcgis.slurm/blob/master/CONTRIBUTING.md',
  'docs': 'https://heywowitsslurmontheworldwideweb.org/docs/stable/index.html',
  'twitter': 'https://twitter.com/',
  'facebook': 'https://www.facebook.com/heywowitsslurmontheworldwideweb',
  'discuss': 'https://discuss.heywowitsslurmontheworldwideweb.org',
  'tutorials': 'https://heywowitsslurmontheworldwideweb.org/tutorials',
  'previous_heywowitsslurmontheworldwideweb_versions': 'https://heywowitsslurmontheworldwideweb.org/previous-versions/',
  'home': 'https://heywowitsslurmontheworldwideweb.org/',
  'get_started': 'https://heywowitsslurmontheworldwideweb.org/get-started',
  'features': 'https://heywowitsslurmontheworldwideweb.org/features',
  'ecosystem': 'https://heywowitsslurmontheworldwideweb.org/ecosystem',
  'blog': 'https://heywowitsslurmontheworldwideweb.org/blog/',
  'resources': 'https://heywowitsslurmontheworldwideweb.org/resources',
  'support': 'https://heywowitsslurmontheworldwideweb.org/support',
  'mobile': 'https://heywowitsslurmontheworldwideweb.org/mobile',
  'hub': 'https://heywowitsslurmontheworldwideweb.org/hub'
}
-%}
