{%- set external_urls = {
  'github': 'https://github.com/Rob-Fletcher/arcgis.slurm',
  'github_issues': 'https://github.com/Rob-Fletcher/arcgis.slurm/issues',
  'contributing': 'https://github.com/Rob-Fletcher/arcgis.slurm/blob/master/CONTRIBUTING.md',
  'docs': 'https://rob-fletcher.github.io/arcgis.slurm/docs/stable/index.html',
  'tutorials': 'https://rob-fletcher.github.io/arcgis.slurm/tutorials',
  'home': 'https://rob-fletcher.github.io/arcgis.slurm/',
  'get_started': 'https://rob-fletcher.github.io/arcgis.slurm/get-started',
  'features': 'https://rob-fletcher.github.io/arcgis.slurm/features',
}
-%}
