{%- set external_urls = {
  'github': 'https://github.com/Rob-Fletcher/arcgis.slurm',
  'github_issues': 'https://github.com/Rob-Fletcher/arcgis.slurm/issues',
  'contributing': 'https://slurmdocs.z5.web.core.windows.net/Contributing.html',
  'docs': 'https://slurmdocs.z5.web.core.windows.net/',
  'tutorials': 'https://slurmdocs.z5.web.core.windows.net/Examples.html',
  'home': 'https://slurmdocs.z5.web.core.windows.net/',
  'get_started': 'https://slurmdocs.z5.web.core.windows.net/Quickstart.html',
  'features': 'https://slurmdocs.z5.web.core.windows.net/features',
  'repo': 'https://dev.azure.com/EsriASA/arcgis.slurm'
}
-%}
